body
{
    background-color: #fff;
    text-align: center;
    color: #0134c5;
}
header hgroup h1
{
    padding-bottom: 10px;
    border: #1d1d1d;
    text-shadow: 0px 0px 30px rgba(0,0,0,0.5)
}
#encabezado
{
    width: 960px;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 20px;
    color: #1d1d1d;
    cursor: pointer;
    padding: 5px;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    text-decoration: none;
}
navi ul li:hover
{
    background-color: #1d1d1d;
    color: #e13300;
    border-radius: 5px;
}
h1
{
    color: #0134c5;
}
#texto
{
    width: 600px;
    height: 100%;
    background-color: #1d1d1d;
    color: #0134c5;
    margin: 0 auto;
    text-align: left;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
    
}
#pag_utem
{
    color: #0134c5;
}
#login_entrar
{
    border: none;
    color: #0134c5;
    background-color: #1d1d1d;
    padding: 4px;
    cursor: pointer;
}
input
{
    border-radius: 6px;
    padding: 2px;
    display: block;
}
